*{
    box-sizing: border-box;
}

body{
    padding: 8rem 1.5rem;
    margin:0;
    background: hsl(195,75%,39%);
    font-family: "Kumbh Sans";
    /*background-image: url("images/bg-pattern-top.svg"),
    url("images/bg-pattern-bottom.svg");
    background-position: 0 -500px, 0 250px;
    background-repeat: no-repeat;*/
}

h1,h2,p{
    margin:0;
}

img{
    vertical-align: middle;
}

main{
    background: white;
    max-width: 350px;
    border-radius:1rem;
    overflow: hidden;
    text-align: center;
    margin: 0 auto;
}

article{
    border-top: 1px solid hsla(0,0%,59%,30%);
    text-align-last: justify;
    padding: 1.5rem 3rem;
}

article div{
    display: inline-block;
    text-align: center;
    text-align-last: initial;
}

h2{
    font-size: 1rem;
    font-weight: normal;
    margin-top: .5rem;
}

span,h2{
    color: hsl(0, 0%, 59%);
}

.profile-pic{
    border-radius: 50%;
    margin-top:-48px;
    border:5px solid white;
}

main>div{
    margin:1rem 0 1.5rem;
}

article p,h1{
    font-weight: bold;
    font-size: 1.2rem;
    color: hsl(229, 23%, 23%);
}

article span{
    letter-spacing: 2px;
    font-size: .7rem;
}

h1 span{
    font-weight: normal;
    margin-left: .5rem;
}

.circles{
    width: 60%;
    position: fixed;
    z-index: -10;
}

.circles img{
    width: 100%;
}

.top-circle{
    top:0;
    left:0;
    transform: translate(-20%,-50%);
}

.bottom-circle{
    bottom:0;
    right:0;
    transform: translate(20%,60%);
}

@media screen and (max-width:615px) {
    .top-circle{
        transform: translate(-65%,-50%);
    }

    .circles{
        width: 150%;
    }

    .bottom-circle{
        transform: translate(65%,45%);
    }
}
